@media only screen and (max-width: 600px){
	.filter-options select{
		width: calc(100% - 20px);
	}
	section{
		width: 100%;
	}
	#restaurants-list{
		display: -webkit-box;
	  	display: -moz-box;
	  	display: -ms-flexbox;
	  	display: -webkit-flex;
	  	display: flex;
	  	-webkit-flex-flow: row wrap;
  		justify-content: space-around;
	}
	#restaurants-list li {
		width: auto;
		display: block;
	}
	#restaurants-list .restaurant-img{
		width: calc(100% + 61px);
		margin-left: -31px;
	}
}

@media only screen and (min-width: 600px) and (max-width: 960px){
	#restaurants-list{
		display: -webkit-box;
	  	display: -moz-box;
	  	display: -ms-flexbox;
	  	display: -webkit-flex;
	  	display: flex;
	  	-webkit-flex-flow: row wrap;
  		justify-content: space-around;
	}
	#restaurants-list li{
		width: 200px;
		flex: 1;
		position: relative;
		padding: 0 40px 60px;
	}

	#restaurants-list li a{
		position: absolute;
		padding: 8px 31px 10px;
		bottom: 10px;                 /* adjust this value to move link up or down */
    	left: 50%;                   /* center link horizontally */
    	transform: translateX(-50%); /* center link horizontally */
    	width: 120px;
	}
	#restaurants-list .restaurant-img{
		width: calc(100% + 81px);
		margin-left: -40px;
	}
}

@media only screen and (min-width: 960px){
	section{
		width: 100%;
	}
	#restaurants-list{
		display: -webkit-box;
	  	display: -moz-box;
	  	display: -ms-flexbox;
	  	display: -webkit-flex;
	  	display: flex;
	  	-webkit-flex-flow: row wrap;
  		justify-content: space-around;
	}

	#restaurants-list .restaurant-img{
		width: calc(100% + 61px);
		margin-left: -31px;
	}
}