@media only screen and (max-width: 600px){
  nav h1 a {
    letter-spacing: 0;
  }
  .filter-options select{
    width: calc(100% - 20px);
    margin-left: 10px;
  }

  .filter-options h2{
    text-align: center;
  }

  /* Restaurant Details */
  .inside{
    overflow-x: hidden;
  }

  .restaurant-details-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .restaurant-details-wrapper #map-container, 
  .restaurant-details-wrapper #restaurant-container,
  .restaurant-details-wrapper #reviews-container,
  .inside #footer{
    width: 100%;
  }

  .form-row .form-control{
    width: calc(100% - 10px);
  }

  .inside #footer{
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  .restaurant-details-wrapper #map-container {
    position: inherit !important;
    right: inherit !important;
    left: inherit !important;
    top: inherit !important;
    height: auto !important;
    padding-top: 80px;
  }

  .restaurant-details-wrapper #map-container #map{
    height: 400px !important;
  }

  .restaurant-details-wrapper #restaurant-container{
    padding-top: 30px;
    text-align: center;
  }

  .restaurant-details-wrapper .restaurant-img,
  .restaurant-details-wrapper #restaurant-cuisine{
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 960px){
  .form-control{
    width: calc(90% - 20px);
  }

  .restaurant-details-wrapper #reviews-container h2{
    margin-bottom: 8px;
  }
}

@media only screen and (min-width: 960px){

}