@media only screen and (max-width: 600px){
  .inside #map-container,
  .inside #maincontent,
  .inside .restaurant-details-wrapper #restaurant-container,
  .inside .restaurant-details-wrapper #reviews-container, 
  .inside #footer{
    padding-left: 0;
    padding-right: 0;
  }

  .inside #maincontent, .inside #footer{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  nav h1 a {
    letter-spacing: 0;
  }
  .filter-options select{
    width: calc(100% - 20px);
    margin-left: 10px;
  }

  .filter-options h2{
    text-align: center;
  }

  /* Restaurant Details */
  .inside{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .inside .restaurant-details-wrapper{
    padding: 0 15px;
  }

  .inside #map-container,
  .inside #maincontent,
  .inside .restaurant-details-wrapper #restaurant-container,
  .inside .restaurant-details-wrapper #reviews-container, 
  .inside #footer{
    width: 100%;
  }

  .inside #map-container {
    position: inherit !important;
    right: inherit !important;
    left: inherit !important;
    top: inherit !important;
    height: auto !important;
    padding-top: 80px;
    padding-bottom:0;
  }

  .inside #maincontent{
    padding-top: 0;
  }

  .inside #map-container #map{
    height: 400px;
  }

  .inside #footer{
    position: relative;
  }

  .inside .restaurant-details-wrapper #restaurant-container{
    padding-top: 30px;
  }

  .inside .restaurant-details-wrapper #reviews-container .form-row .form-control{
    width: 100%;
  }

  .inside .restaurant-details-wrapper .restaurant-img,
  .inside .restaurant-details-wrapper #restaurant-cuisine{
    width: 100%;
  }
}